fastapi
uvicorn
python-multipart
pydantic
pyyaml
python-dotenv
moviepy
facenet-pytorch
timm
torch
torchvision
torchaudio
transformers
librosa
faster-whisper
rapidfuzz
requests
numpy
pillow
opencv-python
soundfile
easyocr
androguard
python-Levenshtein
